/* CSS Reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,115,189,1) 100%, rgba(255,7,112,1) 100%);
    font-family: 'Ubuntu',sans-serif;
}

/* Heading Section */
#header h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    color: white;
}

/* Chart Section */
#chart-container {
    background: rgb(2,32,54);
    background: linear-gradient(90deg, rgba(2,32,54,1) 100%, rgba(255,7,112,1) 100%);
    height: 30rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
    border-radius: 25px;
}

#myChart {
    background-color: inherit;
    border-radius: 25px;
}

.time-btn{
    background: rgb(27,0,110);
    background: linear-gradient(90deg, rgba(27,0,110,1) 0%, rgba(0,90,153,1) 100%);
    color: white;
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.4rem;
    font-family: 'Ubuntu',sans-serif;
    border-radius: 15px;
    border:none;
}

.time-btn:hover{
    box-shadow: 2px 2px 2px gray;
}

/* Details Section */
#details-container{
    width: 60%;
    height: 150px;
    margin-left: 2rem;
    /* background-color: yellow; */
    margin-top: 2rem;
}

#details-container span{
    margin: 1.4rem;
    font-size: 1.4rem;
}

#details-container p{
    font-size: 1rem;
    margin-top: 1rem;
}

/* List Section */
#list-container{
    background: rgb(2,32,54);
    background: linear-gradient(90deg, rgba(2,32,54,1) 100%, rgba(255,7,112,1) 100%);
    height: fit-content;
    width: fit-content;
    position: absolute;
    top:20%;
    right:5%;
    color: white;
}

#list-container span{
    margin: 1.2rem;
}
.list-div{
    margin-bottom: 1.4rem;
}

#list-container button{
    background: rgb(27,0,110);
    background: linear-gradient(90deg, rgba(27,0,110,1) 0%, rgba(0,90,153,1) 100%);
    color: white;
    font-size: 0.8rem;
    padding: 0.4rem;
    font-family: 'Ubuntu',sans-serif;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
    width: 4rem;
}

#aside{
    background-image: linear-gradient(rgb(208, 7, 41),blue);
    position: absolute;
    top:5%;
    right:5%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: none;
}

#aside i{
    font-size: 20px;
    color: white;
}

/* Common Classes */
.whiteBg{
    color: white;
}

.greenBg{
    color: rgb(5, 192, 5);
}

